* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

.v-header {
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
}

.contain {
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 0;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
}

.header-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	z-index: 1;
	opacity: 0.7;
}

.header-content {
	z-index: 2;
	margin: auto;
}

.header-content h1 {
	font-size: 70px;
	margin-bottom: 0;
}

.header-content p {
	font-size: 1.5rem;
	display: block;
}

#about {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

#profile-img {
	max-width: 100%;
	min-width: 350px;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	color: #545454;
}

footer {
	background: linear-gradient(
			to bottom right,
			rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.95)
		),
		url(../img/footer-texture.jpg);
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer p {
	padding: 1px;
	color: #ccc;
}

@media screen and (max-width: 850px) {
	.about-content {
		padding: 25px;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 715px) {
	.header-content h1 {
		font-size: 40px;
	}
	#about {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
	#profile-img {
		min-width: 200px;
	}
	.about-content {
		padding: 50px;
	}
	#footer-top-nav {
		display: none;
	}

	#foot-img {
		margin: 50px 0;
	}

	#footer h4 {
		font-size: 16px;
	}
}

@media screen and (max-width: 400px) {
	#form {
		margin-left: 20px;
	}
	footer {
		height: auto;
	}

	#footer p {
		font-size: 12px;
	}
}
